<div class="ng-titlebar">
   <span class="favicon">
      <span class="dot"></span>
      <span class="dot"></span>
      <!-- <span class="dot"></span> -->
      <!-- <span class="dot"></span> -->
      <span class="microphone"><span class="las la-microphone"></span>Say Hi, Google.</span>
      <span class="weather">Toronto <b>8</b>°C</span>
      <span class="stocks">Tesla +<b>0.15</b>%</span>
   </span>
   <span class="url-string">
      <!-- <input ng-model="focusedWindow.url.href"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/> -->
      <span class="url">
         <span  ng-class="focusedWindow.url.protocol == 'https:' ? 'protocol' : 'protocol-untrusted'"><span class="las la-lock"></span></span>
         <span class="hostname">{{focusedWindow.url.hostname}}</span><span class="pathname">{{focusedWindow.url.pathname}}</span><span class="search">{{focusedWindow.url.search}}</span>
      </span>
   </span>
   <span class="icons">
      <i ng-click="minimizeWebbarWindow()" class="las la-minus"></i>
      <i ng-if="!focusedWindow.isMaximized" ng-click="maximizeWebbarWindow()" class="las la-stop"></i>
      <i ng-if="focusedWindow.isMaximized" ng-click="maximizeWebbarWindow()" class="las la-ebay"></i>
      <i ng-click="closeWebbarWindow()" class="close las la-times"></i>
   </span>
</div>