<div class="ng-titlebar">
   <span class="favicon">
      <!-- <span ng-if="focusedWindow.isTrusted" class="protocol-trusted"><i class="las la-shield-alt"></i></span> -->
      <!-- <span ng-if="!focusedWindow.isTrusted" class="protocol-otherwise"><i class="las la-unlock"></i></span> -->
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="microphone"><span class="las la-microphone"></span>Say Hi, Google.</span>
      <span class="weather">Toronto <b>8</b>°C</span>
      <!-- <span class="dot"></span> -->
      <!-- <span> <i>"Type, Open Youtube"</i></span> -->
   </span>
   <span class="url-string">
      <input ng-model="focusedWindow.url"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
   </span>
   <span class="icons">
      <i ng-click="minimizeWebbarWindow()" class="las la-minus"></i>
      <i ng-if="!focusedWindow.isMaximized" ng-click="maximizeWebbarWindow()" class="las la-stop"></i>
      <i ng-if="focusedWindow.isMaximized" ng-click="maximizeWebbarWindow()" class="las la-ebay"></i>
      <i ng-click="closeWebbarWindow()" class="close las la-times"></i>
   </span>
</div>