<div class="ng-webbar">
   <div class="home">
      <span class="icon fingerprint" ng-click="openSpotlight()">
         <img src="icons/finger-print.png" width="24" />
      </span>
   </div>
   <div class="tabs">
      <span class="icon" ng-repeat="(windowId, window) in windows track by windowId" ng-click="openWindow(windowId)"
         ng-class="{'icon-active' : focusedWindow.windowId === windowId}" ng-if="windowId !== 'spotlight'">

         <span ng-if="focusedWindow.windowId === windowId">
            <span ng-if="window.isLoading" class="favicon favicon-active">
               <span class="go-back" ng-click="openPreviousPage(); $event.stopPropagation()"
                  ng-if="focusedWindow.windowId === windowId">
                  <i class="las la-arrow-left"></i>
               </span>
               <span class="icon icon-active" ng-style="{'background-image': 'url(icons/spinner.gif)'}"></span>
               <span class="title">{{focusedWindow.title}}</span>
            </span>

            <span ng-if="!window.isLoading" class="favicon favicon-active" title="{{window.title}}">
               <span class="go-back" ng-click="openPreviousPage(); $event.stopPropagation()"
                  ng-if="focusedWindow.windowId === windowId">
                  <i class="las la-arrow-left"></i>
               </span>
               <span class="icon icon-active" ng-if="!window.favicon || window.favicon === ''"
                  ng-style="{'background-image': 'url(icons/web.png)'}"></span>
               <span class="icon icon-active" ng-if="window.favicon && window.favicon !== ''"
                  ng-style="{'background-image': 'url(' + window.favicon + ')'}"></span>
               <span class="title">{{focusedWindow.title}}</span>
            </span>

            <span class="close close-active" ng-click="closeWindow(windowId); $event.stopPropagation()">
               <i class="las la-minus"></i>
            </span>

            <span class="indicator"></span>
         </span>

         <span ng-if="focusedWindow.windowId !== windowId">
            <span ng-if="window.isLoading" class="favicon">
               <span class="icon" ng-style="{'background-image': 'url(icons/spinner.gif)'}"></span>
            </span>
            <span ng-if="!window.isLoading" class="favicon" title="{{window.title}}">
               <span class="icon" ng-if="!window.favicon || window.favicon === ''"
                  ng-style="{'background-image': 'url(icons/web.png)'}"></span>
               <span class="icon" ng-if="window.favicon && window.favicon !== ''"
                  ng-style="{'background-image': 'url(' + window.favicon + ')'}"></span>
            </span>
            <span class="close" ng-click="closeWindow(windowId); $event.stopPropagation()">
               <i class="las la-minus"></i>
            </span>
         </span>
      </span>
      <span class="icon" ng-click="openBlankWindow()">
         <span class="favicon add">
            <span class="icon" ng-style="{'background-image': 'url(icons/add.png)'}"></span>
         </span>
      </span>
   </div>
   <div class="bar" ng-if="focusedWindow !== null">
      <span class="settings">
         <span class="icon">
            <i class="las la-ellipsis-v" ng-click="redirect('/settings')"></i>
         </span>
      </span>
   </div>
</div>