<div class="ng-webbar">
   <div class="navigation">
      <span class="icon fingerprint" ng-click="openSpotlight()">
         <img src="icons/finger-print.png" width="24" />
      </span>
      <span class="icon" ng-click="openPreviousPage()">
         <i class="las la-long-arrow-alt-left"></i>
      </span>
      <span class="icon" ng-click="openNextPage()">
         <i class="las la-long-arrow-alt-right"></i>
      </span>
   </div>
   <div class="tabs">
      <span class="icon" ng-repeat="(windowId, window) in windows track by windowId" ng-click="openWindow(windowId)"
         ng-if="windowId !== 'spotlight'">
         <span ng-if="window.isLoading" class="favicon">
            <span class="icon" ng-style="{'background-image': 'url(icons/spinner.gif)'}"></span>
         </span>
         <span ng-if="!window.isLoading" class="favicon">
            <span class="icon" ng-if="!window.favicon || window.favicon === ''"
               ng-style="{'background-image': 'url(icons/web.png)'}"></span>
            <span class="icon" ng-if="window.favicon && window.favicon !== ''"
               ng-style="{'background-image': 'url(' + window.favicon + ')'}" title="{{window.title}}"></span>
         </span>
         <span class="close" ng-click="closeWindow(windowId); $event.stopPropagation()">
            <i class="las la-minus"></i>
         </span>
         <span ng-if="focusedWindow !== null && focusedWindow.windowId === windowId" class="indicator"></span>
      </span>
      <span class="icon" ng-click="openBlankWindow()">
         <span class="favicon add">
            <span class="icon" ng-style="{'background-image': 'url(icons/add.png)'}"></span>
         </span>
      </span>
   </div>
   <div class="bar" ng-if="focusedWindow !== null">
      <span class="settings">
         <span class="icon">
            <i class="las la-ellipsis-v" ng-click="redirect('/settings')"></i>
         </span>
      </span>
   </div>
</div>