.ng-spotlight-results-detail-apps-folders {
    position: relative;
    display: block;
    text-align: center;
    padding: 22px;
    margin-top: 62px;
    .icon-image {
        position: relative;
        width: 72px;
        height: 72px;
        margin: 22px auto;
    }
    .title {
        position: relative;
        display: block;
        font-size: 22px;
        word-break: break-all;
        color: darken($results-detail-font-color, 10);
    }
    .type {
        position: relative;
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
        color: darken($results-detail-font-color, 20);
    }
  }