<div class="ng-spotlight ng-appstore-overlay">
    <div ng-include="'src/navigation/header.html'"></div>
    <div ng-if="isLoading"  ng-include="'src/navigation/loading.html'"></div>
    <login-overlay ng-if="!isLoading && appstoreItems === null"></login-overlay>
    <div class="ng-cards" ng-if="!isLoading && appstoreItems !== null">
        <div class="ng-card" ng-repeat="appstoreItem in appstoreItems" ng-click="redirect(appstoreItem.relative_link)">
            <div class="ng-info">
                <span class="title">{{appstoreItem.title}}</span>
                <span class="command">{{appstoreItem.command}}</span>
                <span class="description">{{appstoreItem.description}}</span>
            </div>
        </div>
    </div>
</div>