<div class="ng-spotlight ng-appstore-overlay">
   <div ng-include="'src/navigation/header.html'"></div>
   <div ng-if="appstoreItems === null" ng-include="'src/navigation/loading.html'"></div>
   <div class="ng-cards">
      <div class="ng-card ng-add-card" ng-click="redirect('/appstore/add')">
         <div class="ng-info">
             <span class="title">Add</span>
             <span class="command">No Command</span>
             <span class="description">Add another app to your list.</span>
         </div>
     </div>
      <div class="ng-card" ng-repeat="appstoreItem in appstoreItems" ng-click="requestAppURL(appstoreItem.relative_link)">
         <div class="ng-info">
            <span class="title">{{appstoreItem.title}}</span>
            <span class="command">{{appstoreItem.command}}</span>
            <span class="description">{{appstoreItem.description}}</span>
         </div>
      </div>
   </div>
</div>