$alpha: 0.97;

// Primary
$primary: rgba(40, 40, 40, $alpha) !default;
$secondary: rgba(35, 35, 35, $alpha) !default;

$primary-highlight: #337ef1 !default;
$icon-magnifier-color: #a6a6a6 !default;

// Font
$font-family: 'Open Sans', sans-serif !default;

// Font colors
$primary-color: rgba(255, 255, 255, $alpha) !default;
$primary-color-dark: rgba(166, 166, 166, $alpha) !default;

// Colors for borders
$border-color: rgba(55, 55, 55, $alpha) !default;
$overlay-border-color: none !default;

// Widths
$ng-spotlight-w: 800px !default;
$spotlight-responsive-width: 680px !default;

// Scroll bar
::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 22px;
}

// App
.ng-spotlight {
  // Global css default
  a, a:link, a:active, a:visited, a:hover {
    color: $primary-color;
  }

  // Global css usage
  .ng-cards {
    padding: 12px 6px;
    color: $primary-color;
    background-color: $primary;
    .ng-card {
      width: 23%;
      height: 87px;
      border-radius: 4px;
      margin: 4px 6px;
      display: inline-block;
      .ng-info {
        position: relative;
        padding: 12px;
        .title {
          font-size: 16px;
          font-weight: 600;
          display: block;
        }
        .description {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

   // Pins overlay
   &.ng-pins-overlay {
    position: relative;
    z-index: 2147483647;
    width: 100%;
    display: none;
    font-size: 12px;
    letter-spacing: 0.3px;

    @if $overlay-border-color != "none" {
      border: 1px solid $overlay-border-color;
    }

    font-family: $font-family;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    overflow: hidden;

    @media only screen and (min-width: $spotlight-responsive-width) {
      margin: 0 auto;
      margin-top: 6px;
      width: $ng-spotlight-w;
    }
  }

  // AppStore overlay
  &.ng-appstore-overlay {
    position: relative;
    z-index: 2147483647;
    width: 100%;
    display: none;
    font-size: 12px;
    letter-spacing: 0.3px;

    @if $overlay-border-color != "none" {
      border: 1px solid $overlay-border-color;
    }

    font-family: $font-family;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    overflow: hidden;

    @media only screen and (min-width: $spotlight-responsive-width) {
      margin: 0 auto;
      width: $ng-spotlight-w;
    }

    .ng-header {
      height: auto;
      color: $primary-color;
      background-color: $primary;
      padding: 16px;
      text-align: left;
      border-bottom: 1px solid $border-color;
      .nav-arrow {
        position: relative;
        display: inline-block;
        padding-right: 12px;
      }
      .title {
        font-size: 14px;
        font-weight: 600;
        display: block;
      }
      .description {
        font-size: 12px;
        font-weight: 500;
        max-width: 650px;
        margin: 0 auto;
        line-height: 22px;
        padding-left: 28px;
      }
    }
  }

  // Spotlight overlay
  &.ng-spotlight-overlay {
    position: relative;
    z-index: 2147483647; // Le Max Int32 ;)
    width: 100%;
    display: none;
    font-size: 12px;
    letter-spacing: 0.3px;

    @if $overlay-border-color != "none" {
      border: 1px solid $overlay-border-color;
    }

    font-family: $font-family;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    overflow: hidden;

    @media only screen and (min-width: $spotlight-responsive-width) {
      margin: 0 auto;
      width: $ng-spotlight-w;
    }

    .ng-spotlight-searchbar {
      z-index: 10;
      position: relative;
      height: 55px;
      background-color: $primary;
      border-bottom: 1px solid $border-color;

      .ng-spotlight-icon {
        $magnifier-height: 22px;
        $magnifier-margin: (55 - $magnifier-height) / 2;

        position: absolute;
        height: 22px;
        width: 22px;
        margin: $magnifier-margin;
        background-size: cover;

        @media only screen and (min-width: $spotlight-responsive-width) {
          position: static;
          float: left;
        }

        svg {
          fill: $icon-magnifier-color;
        }
      }

      .ng-spotlight-input {
        background-color: transparent;
        font-size: 1.7em;
        padding: 0;
        margin: 0;
        outline: none !important;
        height: 55px;
        max-width: 100% !important;
        border: none !important;
        color: $primary-color;
        font-weight: 100;
        padding-left: 55px;
        padding-right: 50px;
        box-sizing: border-box;
        &.empty {
          width: 100% !important;
        }

        @media only screen and (min-width: $spotlight-responsive-width) {
          float: left;
          max-width: 350px !important;
          box-sizing: content-box;
          padding: 0;
          &.empty {
            width: 400px !important;
          }
        }

        &:-ms-input-placeholder {
          color: $primary-color-dark;
        }
        &:-moz-placeholder {
          color: $primary-color-dark;
        }
        &::-moz-placeholder {
          color: $primary-color-dark;
        }
        &::-webkit-input-placeholder {
          color: $primary-color-dark;
        }
      }

      .ng-spotlight-input-after {
        display: none;
        color: $primary-color-dark;
        line-height: 55px;
        font-weight: 600;
        @media only screen and (min-width: $spotlight-responsive-width) {
          display: block;
        }
      }

      .ng-spotlight-results-icon {
        display: none;
        position: absolute;
        top: (55px - 32px)/2;
        right: 20px;
        line-height: 31px;
        height: 32px;
        width: 32px;
        font-size: 31px;
        color: $primary-color;
        background-size: cover;

        @media only screen and (min-width: $spotlight-responsive-width) {
          display: block;
        }
      }
    }
    .ng-spotlight-info-panel {
      min-height: 172px;
      color: $primary-color;
      background-color: $primary;
      .icons {
        padding: 22px 0 0 0;
        text-align: center;
      }
      p {
        padding: 8px 42px 22px 42px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        max-width: 650px;
        margin: 0 auto;
        line-height: 22px;
      }

    }
    .ng-spotlight-results-panel {
      min-height: 375px;

      .ng-spotlight-results-list {
        border-right: 1px solid $border-color;
        position: absolute;
        width: 100%;
        height: calc(100% - 55px);
        overflow: hidden;
        overflow-y: auto;
        user-select: none;
        background-color: $primary;

        @media only screen and (min-width: $spotlight-responsive-width) {
          width: 290px;
        }

        ul {
          min-height: calc(100% - 55px);
        }

        ul, li {
          width: 100%;
          margin: 0;
          padding: 0;
          list-style-type: none;
        }

        .ng-spotlight-results-list-header {
          font-size: 12px;
          font-weight: 600;
          background-color: $secondary;
          color: $primary-color;
          text-transform: capitalize;
          padding: 4px 0 4px 25px;
        }

        .ng-spotlight-results-list-item {
          font-size: 13px;
          color: $primary-color;
          padding: 6px 0 6px 25px;
          word-break: break-all;
          max-width: 265px;
          cursor: pointer;

          &.open-search-page {
            border-top: 1px solid $border-color;
          }

          .ng-spotlight-item-icon {
            margin: 0 10px 0 0;
            float: left;
            height: 16px;
            width: 16px;
            font-size: 15px;
            text-align: center;
            color: $primary-color;
          }

          &.active {
            color: $primary-color;
            background-color: $primary-highlight;
          }

          .ng-spotlight-item-name {
            display: flex;
            width: auto;
            font-size: 12px;
            font-weight: 500;
          }

          .info {
            margin-left: 5px;
            color: darken($primary-color, 20);
            word-break: break-word;
            display: flex;
            width: 85%;
          }
        }
      }
      .ng-spotlight-results-detail {
        display: none;
        margin-left: 290px;
        width: ($ng-spotlight-w - 290);
        height: 375px;
        color: $primary-color;
        background-color: $primary;
        overflow-y: auto;
        @media only screen and (min-width: $spotlight-responsive-width) {
          display: block;
        }

        a {
          color: $primary-color;
        }

        @import "search-result-details/default";
      }
    }
  }
}