$alpha: 0.97;

// Primary
$primary: rgba(40, 40, 40, $alpha) !default;
$secondary: rgba(35, 35, 35, $alpha) !default;

$primary-highlight: #337ef1 !default;
$icon-magnifier-color: #a6a6a6 !default;

// Font
$font-family: "Open Sans", sans-serif !default;

// Font colors
$primary-color: rgba(255, 255, 255, $alpha) !default;
$primary-color-dark: rgba(166, 166, 166, $alpha) !default;
$primary-color-error: rgba(#e44c3c, $alpha) !default;
$primary-highlight-color: #ffffff !default;

// Colors for borders
$border-color: rgba(55, 55, 55, $alpha) !default;
$overlay-border-color: none !default;

// Widths
$ng-spotlight-w: 800px !default;
$spotlight-responsive-width: 680px !default;

// Scroll bar
::-webkit-scrollbar {
   background-color: transparent;
   width: 5px;
}
::-webkit-scrollbar-track {
   background-color: transparent;
}
::-webkit-scrollbar-thumb {
   background-color: $secondary;
   border-radius: 22px;
}

// Webbar window
.ng-titlebar {
   position: relative;
   color: $primary-color;
   background-color: rgba($secondary, 1);
   z-index: 9;
   width: 100%;
   height: 22px;
   font-size: 12px;
   letter-spacing: 0.3px;
   font-family: $font-family;
   overflow: hidden;
   margin: 0 auto;
   padding: 6px 0;
   border-bottom: 1px solid darken($border-color, 4);
   -webkit-app-region: drag;
   .title {
      position: relative;
      display: block;
      text-align: left;
      top: 2px;
      .favicon {
         float: left;
         padding: 0px 8px;
         clear: both;
      }
      .name {
         text-shadow: 0px 0px 6px darken($secondary, 10);
         font-size: 12px;
         max-width: 500px;
         position: relative;
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
         display: inline-block;
      }
      .icons {
         position: relative;
         float: right;
         clear: right;
         font-size: 16px;
         padding: 0 8px;
         -webkit-app-region: no-drag;
         user-select: none;
         top: -2px;
         i {
            margin: 0 2px;
            padding: 2px;
            border-radius: 2px;
         }
         i:hover {
            cursor: pointer;
            background-color: $primary;
         }
         i.close:hover {
            background: $primary-color-error;
            color: #ffffff;
         }
      }
      .protocol-trusted {
         background: #43920f;
         color: rgba(#ffffff, 0.7);
         border-radius: 2px;
         padding: 0 2px;
      }
      .protocol-otherwise {
         color: rgba(#ffffff, 0.7);
         background: #c12b1b;
         border-radius: 2px;
         padding: 0 2px;
      }
   }
}
.ng-webbar {
   position: relative;
   color: $primary-color;
   background-color: rgba($primary, 1);
   z-index: 9;
   width: 100%;
   height: 42px;
   font-size: 12px;
   letter-spacing: 0.3px;
   font-family: $font-family;
   overflow: hidden;
   margin: 0 auto;
   display: flex;
   .home {
      position: relative;
      width: 44px;
      display: flex;
      flex-wrap: nowrap;
      .icon {
         font-size: 18px;
         padding: 0 6px;
         position: relative;
         display: inline-block;
         width: auto;
         line-height: 42px;
         text-align: center;
      }
      .icon:hover {
         cursor: pointer;
      }
      .fingerprint {
         position: relative;
         left: 8px;
         top: 5px;
      }
   }
   .right-icon {
      position: relative;
      max-width: 25%;
      display: flex;
      .settings {
         position: relative;
         text-align: center;
         display: inherit;
         height: 18px;
         line-height: 18px;
         padding: 4px;
         top: 7px;
         font-weight: 500;
         font-size: 18px;
         margin: 0 8px 0 0;
         .icon {
            padding: 0 2px;
         }
      }
   }
   .tabs {
      position: relative;
      width: 100%;
      margin: 0 8px;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      padding: 0 8px;
      display: inline-flex;
      user-select: none;
      .icon {
         font-size: 18px;
         padding: 4px;
         position: relative;
         display: inline-block;
         width: 22px;
         text-align: left;
         top: 0;
         .title {
            font-size: 12px;
            color: #282828;
            position: absolute;
            left: 45px;
            top: 2px;
            font-weight: 500;
            max-width: 80px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-shadow: 0 0 1px #aaa;
         }
         .go-back,
         .go-forward {
            position: relative;
            width: 17px;
            height: 20px;
            background: $primary-highlight;
            color: #ffffff;
            top: -5px;
            left: -1px;
            text-align: center;
            font-size: 12px;
            display: inline-block;
            padding: 1px;
            z-index: 9;
            border-radius: 4px 0 0 4px;
            i {
               position: relative;
               top: 2px;
            }
         }
         .go-back-disabled {
            background: $secondary;
            color: $primary-color;
         }
         .close {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: $primary-color-error;
            color: rgba(255,255,255,0.97);
            top: 6px;
            right: 0;
            text-align: center;
            font-size: 13px;
            display: none;
            z-index: 9;
            i {
               position: relative;
               top: -3px;
            }
         }
         .close-active {
            display: inline-block;
         }
         .indicator {
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background: $primary-color-error;
            display: inline-block;
            top: 28px;
            left: 11px;
            text-align: center;
            margin: 0 auto;
         }
         .favicon {
            width: 22px;
            height: 22px;
            position: relative;
            display: inline-block;
            top: 7px;
            margin: 0 auto;
            border-radius: 4px;
            background-color: #f7fafc;
            box-shadow: 0 1px 1px 0 rgba(60, 66, 87, .12), 0 1px 0px 0 rgba(0, 0, 0, .12)!important;
            border-radius: 4px;
            font-weight: 500;
            .icon {
               width: 10px;
               height: 10px;
               background-size: cover;
               position: absolute;
               display: inline-block;
               top: 2px;
               left: 2px;
               background-color: inherit;
               border-radius: 4px;
               margin: 0;
            }
            .icon-active {
               left: 22px;
            }
         }
         .favicon-active {
            width: 134px;
         }
         .favicon-add {
            background-color: $primary-highlight;
         }
      }
      .icon-active {
         width: 134px;
      }
      .icon:hover {
         cursor: pointer;
      }
      .icon:hover .close {
         display: block
      }
   }
   .search {
      position: relative;
      width: 100%;
      margin: 0 8px;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      padding: 0 8px;
      .label {
         position: absolute;
         top: 12px;
         left: 17px;
         background: $primary-highlight;
         color: #ffffff;
         padding: 1px 4px;
         border-radius: 2px;
         font-size: 11px;
         z-index: 9;
      }
      .label-results {
         position: absolute;
         top: 12px;
         right: 17px;
         background: $primary;
         padding: 2px 4px;
         border-radius: 2px;
         font-size: 11px;
         z-index: 9;
         box-shadow: 1px 1px 1px darken($secondary, 3);
         user-select: none;
         span {
            padding: 0 3px;
            border-radius: 2px;
         }
         span:hover {
            background: $primary-highlight;
            color: #ffffff;
            cursor: pointer;
         }
      }
      input[type="text"] {
         position: relative;
         top: 4px;
         padding: 10px 132px 10px 60px;
         border: 1px solid transparent;
         height: 12px;
         text-align: left;
         color: $primary-color;
         background-color: $secondary;
         width: calc(100% - 194px);
         font-size: 16px;
         font-weight: 500;
      }
      input[type="text"]:focus {
         outline: 2px solid $primary;
      }
   }
   .menu {
      position: relative;
      width: 100%;
      margin: 0 8px;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      padding: 0 8px;
      ul {
         height: 42px;
         display: block;
         li {
            display: inline-block;
            list-style: none;
            line-height: 24px;
            padding: 0 7px;
            text-align: center;
            margin: 8px 1px;
            border-radius: 2px;
            -webkit-app-region: no-drag;
            border: 1px solid rgba(55,55,55,0.97);
            .command {
               font-size: 11px;
               font-weight: 600;
               color: darken($primary-color-dark, 20);
               text-transform: capitalize;
            }
         }
         li.close {
            color: $primary-color-error;
         }
         li:hover {
            cursor: pointer;
            background-color: $secondary;
         }
      }
   }
}

// App
.ng-spotlight {
   // Global css default
   a,
   a:link,
   a:active,
   a:visited,
   a:hover {
      color: $primary-color;
   }

   // Delete text
   span.delete {
      position: relative;
      width: auto;
      display: block;
      padding: 8px 6px;
      color: $primary-color-error;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
   }

   // Gobal cols
   @function column-width($col, $total: 16) {
      @return percentage($col/$total);
   }
   @for $i from 1 through 16 {
      .col-#{$i} {
         width: column-width($i) !important;
      }
   }

   // Glbal form
   form {
      input[type="password"],
      input[type="text"] {
         padding: 10px;
         border: 1px solid $border-color;
         width: 25px;
         height: 25px;
         text-align: center;
         font-size: 18px;
         color: $primary-color;
         background-color: $secondary;
      }
      input[type="text"] {
         width: 50%;
         font-size: 16px;
         font-weight: 500;
      }
      input[type="password"]:focus,
      input[type="text"]:focus {
         outline: 2px solid $primary-highlight;
      }
      button[type="submit"] {
         padding: 8px 6px;
         background: $primary-highlight;
         color: $primary-highlight-color;
         border-radius: 4px;
         border: none;
         outline: none;
         width: 114px;
         cursor: pointer;
      }
   }
   form.ng-add {
      color: $primary-color;
      background-color: $primary;
      padding: 16px;
      .element {
         width: 48%;
         display: inline-block;
         margin: 0 16px 12px 0;
         .info {
            width: 100%;
            margin-bottom: 6px;
            .title {
               font-size: 16px;
               font-weight: 600;
               display: block;
               .astrik {
                  font-size: 12px;
                  position: relative;
                  color: $primary-color-error;
                  top: -5px;
                  left: -2px;
               }
            }
            .description {
               font-size: 12px;
               font-weight: 500;
               display: block;
            }
            .error {
               color: $primary-color-error;
               font-weight: 600;
            }
         }
         input[type="text"] {
            width: 98%;
            text-align: left;
            padding: 6px;
         }
      }
      button[type="submit"] {
         position: absolute;
         top: 20px;
         right: 15px;
         width: 82px;
         padding: 8px 6px;
      }
   }

   // Global loader
   .ng-loading {
      text-align: center;
      color: $primary-color;
      background-color: $primary;
      min-height: 192px;
      .icon {
         position: absolute;
         font-size: 28px;
         top: 50%;
         right: 50%;
      }
   }

   // Global password pin
   .ng-pass-pin {
      color: $primary-color;
      background-color: $primary;
      text-align: center;
      padding: 16px 0 32px 0;
      .ng-info {
         text-align: center;
         position: relative;
         margin: 0 0 12px 0;
         .icon {
            font-size: 42px;
            color: $primary-color-error;
         }
         .title {
            font-size: 16px;
            font-weight: 600;
            display: block;
         }
         .description {
            font-size: 12px;
            font-weight: 500;
            display: block;
         }
      }
   }

   // Global dialogs
   .ng-success-dialog {
      padding: 42px 6px;
      color: $primary-color;
      background-color: $primary;
      .ng-info {
         text-align: center;
         position: relative;
         padding: 12px;
         .title {
            font-size: 24px;
            font-weight: 600;
            display: block;
            margin-bottom: 7px;
         }
         .hint {
            font-size: 12px;
            display: block;
         }
         .description {
            font-size: 12px;
            font-weight: 500;
         }
      }
   }

   // Global cards
   .ng-cards {
      padding: 12px 6px;
      color: $primary-color;
      background-color: $primary;
      max-height: 312px;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      .ng-card {
         width: 23%;
         min-height: 87px;
         border-radius: 4px;
         margin: 4px 6px;
         display: inline-block;
         .ng-info {
            position: relative;
            padding: 12px;
            .icon {
               position: absolute;
               top: 7px;
               right: 4px;
               opacity: 0.975;
               font-size: 22px;
            }
            .title {
               font-size: 16px;
               font-weight: 600;
               display: block;
               width: calc(100% - 42px);
               text-transform: capitalize;
               text-overflow: ellipsis;
               overflow: hidden;
            }
            .command {
               font-size: 11px;
               font-weight: 600;
               color: darken($primary-color-dark, 20);
               display: block;
               width: calc(100% - 42px);
               text-transform: capitalize;
            }
            .description {
               font-size: 12px;
               font-weight: 500;
               word-break: break-word;
            }
            .description::first-letter {
               text-transform: uppercase;
            }
         }
      }
      .ng-card:hover {
         background-color: $secondary;
         border-radius: 4px;
         cursor: pointer;
      }
      .ng-add-card {
         background: $primary-highlight;
         color: $primary-highlight-color;
         .command {
            color: $primary-highlight-color !important;
         }
      }
      .ng-add-card:hover {
         background: $primary-highlight;
      }
   }

   // Global header
   .ng-header {
      height: auto;
      color: $primary-color;
      background-color: $primary;
      padding: 16px;
      text-align: left;
      border-bottom: 1px solid $border-color;
      .icon-left {
         position: relative;
         display: inline-block;
         padding-right: 8px;
         cursor: pointer;
      }
      .title {
         font-size: 14px;
         font-weight: 600;
         display: block;
         max-width: 80%;
         text-transform: capitalize;
      }
      .description {
         font-size: 12px;
         font-weight: 500;
         max-width: 80%;
         line-height: 22px;
         padding-left: 28px;
         text-overflow: ellipsis;
         overflow: hidden;
         display: flex;
      }
      .description::first-letter {
         text-transform: capitalize;
      }
   }

   // Login, Pins, AppStore overlay
   &.ng-login-overlay,
   &.ng-pins-overlay,
   &.ng-appstore-overlay {
      position: relative;
      z-index: 9;
      width: 100%;
      font-size: 12px;
      letter-spacing: 0.3px;

      font-family: $font-family;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      border-radius: 6px;
      overflow: hidden;

      @media only screen and (min-width: $spotlight-responsive-width) {
         margin: 0 auto;
         width: $ng-spotlight-w;
      }
   }

   // Spotlight overlay
   &.ng-spotlight-overlay {
      position: relative;
      z-index: 9;
      width: 100%;
      font-size: 12px;
      letter-spacing: 0.3px;

      @if $overlay-border-color != "none" {
         border: 1px solid $overlay-border-color;
      }

      font-family: $font-family;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      border-radius: 6px;
      overflow: hidden;

      @media only screen and (min-width: $spotlight-responsive-width) {
         margin: 0 auto;
         margin-bottom: 6px;
         width: $ng-spotlight-w;
      }

      .ng-spotlight-searchbar {
         z-index: 10;
         position: relative;
         height: 55px;
         background-color: $primary;
         border-bottom: 1px solid $border-color;

         .ng-spotlight-icon {
            $magnifier-height: 22px;
            $magnifier-margin: (55 - $magnifier-height) / 2;

            position: absolute;
            height: 22px;
            width: 22px;
            margin: $magnifier-margin;
            background-size: cover;

            @media only screen and (min-width: $spotlight-responsive-width) {
               position: static;
               float: left;
            }

            svg {
               fill: $icon-magnifier-color;
            }
         }

         .ng-spotlight-input {
            background-color: transparent;
            font-size: 1.7em;
            padding: 0;
            margin: 0;
            outline: none !important;
            height: 55px;
            max-width: 100% !important;
            border: none !important;
            color: $primary-color;
            font-weight: 100;
            padding-left: 55px;
            padding-right: 50px;
            box-sizing: border-box;
            &.empty {
               width: 100% !important;
            }

            @media only screen and (min-width: $spotlight-responsive-width) {
               float: left;
               max-width: 350px !important;
               box-sizing: content-box;
               padding: 0;
               &.empty {
                  width: 400px !important;
               }
            }

            &:-ms-input-placeholder {
               color: $primary-color-dark;
            }
            &:-moz-placeholder {
               color: $primary-color-dark;
            }
            &::-moz-placeholder {
               color: $primary-color-dark;
            }
            &::-webkit-input-placeholder {
               color: $primary-color-dark;
            }
         }

         .ng-spotlight-input-after {
            display: none;
            color: $primary-color-dark;
            line-height: 55px;
            font-weight: 600;
            @media only screen and (min-width: $spotlight-responsive-width) {
               display: block;
            }
         }

         .ng-spotlight-results-icon {
            display: none;
            position: absolute;
            top: (55px - 32px)/2;
            right: 20px;
            line-height: 31px;
            height: 32px;
            width: 32px;
            font-size: 31px;
            color: $primary-color;
            background-size: cover;

            @media only screen and (min-width: $spotlight-responsive-width) {
               display: block;
            }
         }
      }
      .ng-spotlight-info-panel {
         min-height: 172px;
         color: $primary-color;
         background-color: $primary;
         .icons {
            padding: 12px 0 0 0;
            text-align: center;
            color: $primary-color-error;
            font-size: 42px;
         }
         p {
            padding: 8px 42px 22px 42px;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            max-width: 650px;
            margin: 0 auto;
            line-height: 22px;
         }
      }
   }
}
