$alpha: 0.97;

// Primary
$primary: rgba(225, 225, 225, $alpha) !default;
$secondary: rgba(210, 210, 210, $alpha) !default;

$primary-highlight: #337ef1;
$icon-magnifier-color: #635d5c;

// Font
$font-family: 'Open Sans', sans-serif;

// Font colors
$primary-color: rgba(25, 25, 25, $alpha);
$primary-color-dark: rgba(10, 10, 10, $alpha);

// Colors for borders
$border-color: rgba(215, 215, 215, $alpha) !default;
$overlay-border-color: rgba(#333435, 0.1);


@import "_angularSpotlight";