<div class="ng-spotlight-results-detail-stackexchange">
    <div class="title">{{selectedItem.name}}</div>
    <div class="answer" ng-if="selectedItem.answer_count > 0">
        <span class="answered" ng-if="selectedItem.is_answered">Answered /</span>
        <span class="answered" ng-if="!selectedItem.is_answered">Not Answered /</span>
        <span class="count">{{selectedItem.answer_count}} Answer<span ng-if="selectedItem.answer_count > 1">s</span></span>
    </div>
    <div class="body">{{selectedItem.body}}</div>
    <div class="tags">{{selectedItem.tags.join(" / ")}}</div>
</div>