<div class="ng-webbar">
   <div class="navigation">
      <span class="icon fingerprint" ng-click="requestToSwitchAppWindow('public/index.html')">
         <i class="las la-fingerprint"></i>
      </span>
      <span class="icon">
         <i class="las la-long-arrow-alt-left"></i>
      </span>
      <span class="icon">
         <i class="las la-long-arrow-alt-right"></i>
      </span>
   </div>
   <div class="tabs">
      <span class="icon" ng-repeat="tab in tabs" ng-click="requestToSwitchAppWindow(tab.token)">
         <span class="favicon" ng-style="{'background-image': 'url(' + tab.favIcon + ')'}"></span>
      </span>
   </div>
   <div class="bar">
      <span class="url">
         <span class="protocol"><i class="las la-lock"></i></span>
         <span class="title">Line Awesome — Free Beautiful Icon Font</span>
      </span>
      <span class="settings">
         <i class="las la-ellipsis-v"></i>
      </span>
   </div>
</div>