<div class="ng-webbar">
   <div class="navigation">
      <span class="icon fingerprint" ng-click="switchTab('spotlight')">
         <i class="las la-fingerprint"></i>
      </span>
      <span class="icon" ng-click="canGoBack()">
         <i class="las la-long-arrow-alt-left"></i>
      </span>
      <span class="icon" ng-click="canGoForward()">
         <i class="las la-long-arrow-alt-right"></i>
      </span>
   </div>
   <div class="tabs">
      <span class="icon" ng-repeat="tab in tabs" ng-click="switchTab(tab.tabId)">
         <span ng-if="tab.isLoading" class="favicon" ng-style="{'background-image': 'url(icons/spinner.gif)'}"></span>
         <span ng-if="!tab.isLoading" class="favicon" ng-style="{'background-image': 'url(' + tab.favIcon + ')'}"></span>
      </span>
   </div>
   <div class="bar">
      <span class="url">
         <span class="protocol"><i class="las la-lock"></i></span>
         <span class="title">Line Awesome — Free Beautiful Icon Font</span>
      </span>
      <span class="settings">
         <i class="las la-ellipsis-v"></i>
      </span>
   </div>
</div>