<div class="ng-spotlight ng-pins-overlay">
    <div class="ng-cards">
        <div class="ng-card">
            <div class="ng-info">
                <span class="title">Theme</span>
                <span class="command">:Theme</span>
                <span class="description">Change theme or set it to auto with windows.</span>
            </div>
        </div>
        <div class="ng-card">
            <div class="ng-info" ng-click="redirect('/appstore/calendar')">
                <span class="title">Calendar</span>
                <span class="command">:Calendar</span>
                <span class="description">Keep up with all your calendars.</span>
            </div>
        </div>
        <div class="ng-card">
            <div class="ng-info">
                <span class="title">Mail</span>
                <span class="command">:Mail</span>
                <span class="description">One inbox for all your mail.</span>
            </div>
        </div>
        <div class="ng-card" ng-click="redirect('/appstore/twofactorauth')">
            <div class="ng-info">
                <span class="title">2 Factor Auth</span>
                <span class="command">:2FA</span>
                <span class="description">Manage all your auths with windows.</span>
            </div>
        </div>
    </div>
</div>