<div class="ng-spotlight ng-appstore-overlay">
    <div ng-include="'src/navigation/header.html'"></div>
    <div class="ng-cards" ng-if="twoFactorAuthItems !== null">
        <div class="ng-card ng-add-card" ng-click="redirect('/appstore/twofactorauth/add')">
            <div class="ng-info">
                <span class="title">Add</span>
                <span class="command">:2FA:Add</span>
                <span class="description">Connect your another 2FA with windows.</span>
            </div>
        </div>
        <div class="ng-card" ng-repeat="twoFactorAuthItem in twoFactorAuthItems" ng-click="redirect(twoFactorAuthItem.relative_link)">
            <div class="ng-info">
                <span class="title">{{twoFactorAuthItem.title}}</span>
                <span class="command">{{twoFactorAuthItem.command}}</span>
                <span class="description">{{twoFactorAuthItem.description.substr(0, 40)}}</span>
            </div>
        </div>
    </div>
</div>