<div class="ng-spotlight ng-appstore-overlay">
    <div ng-include="'src/app/navigation/header.html'"></div>
    <div ng-if="token === '123456' && !delete" ng-include="'src/app/navigation/loading.html'"></div>
    <div ng-if="token !== '123456' && !delete" class="ng-success-dialog">
        <div class="ng-info">
            <span class="title">{{token}}</span>
            <span class="description">Token will refresh in <b>{{timeRemaining}}</b> seconds.</span>
            <span class="hint">Copy the token when prompted into the field to gain access.</span>
            <span value="submit" ng-click="deleteAuthAlert()" class="delete">Delete</span>
        </div>
    </div>
    <div ng-if="delete" class="ng-success-dialog">
        <div class="ng-info">
            <span class="title">Your app might still be connected!</span>
            <span class="description">
                Disable your authenticator before deleting this token.<br/>
                You will be required to login using this token as your 2FA setup.
            </span>
            <span value="submit" ng-click="deleteAuth()" class="delete">I disabled my authenticator, delete me.</span>
        </div>
    </div>
</div>