.ng-spotlight-results-detail-stackexchange {
    padding: 22px;
    .tags {
        padding: 4px 8px;
        text-transform: capitalize;
        background-color: $default-tag-color;
        border-radius: 3px;
        color: darken($results-detail-font-color, 20);
    }
    .title {
      text-align: left;
      font-size: 22px;
    }
    .answer {
        font-size: 12px;
        display: block;
        position: relative;
        padding: 6px 0;
        .answered {
            color: darken($results-detail-font-color, 20);
        }
        .count {
            color: darken($results-detail-font-color, 20);
        }
    }
    .body {
      color: darken($results-detail-font-color, 20);
      text-align: left;
      padding: 6px 0;
      margin-bottom: 15px;
      border-bottom: 1px solid $searchbar-border-color;
      line-height: 20px;
      font-size: 13px;
      word-break: break-all;
    }
  }