<div class="ng-webbar">
   <div class="home">
      <span class="icon fingerprint" ng-click="openSpotlight()">
         <img src="app://icons/favicon.png" width="24" />
      </span>
   </div>
   <div class="search">
      <span class="label">Search</span>
      <input type="text" />
      <span class="label-results">
         <span><i class="las la-angle-down"></i></span>
         <span><i class="las la-angle-up"></i></span>
         <span>Aa</span>
         <span ng-if="result.matches === 0">No Result</span>
         <span ng-if="result.matches !== 0">{{result.activeMatchOrdinal}}/{{result.matches}} Found</span>
      </span>
   </div>
   <div class="right-icon">
      <span class="settings">
         <i class="las la-arrow-right" ng-click="redirect('/')"></i>
      </span>
   </div>
</div>
